<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         colors="true"
         bootstrap="./framework/bootstrap.php"
>
    <testsuites>
        <testsuite name="Migration tool Integration Tests">
            <directory suffix="Test.php">testsuite</directory>
        </testsuite>
    </testsuites>
</phpunit>
